<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm recently graduated from 
      <a class="underline-link" href="https://vit.ac.in/schools/scope" target="_blank">Computer Science Department, </a>
      <a class="underline-link" href="https://vit.ac.in" target="_blank">VIT University</a>

    </p>

    <p>
    I am interested at the intersection of AI and Healtcare. I am proficient at Python Programming (adept at Tensorflow, Keras,sci-kit-learn; working proficiency in PyTorch), C++ Object-Oriented Programming and MATLAB Programming. I want to perform state-of-the-art research in the field of AI especially Deep Learning and contribute in any way I can to the race towards making an Artificial General Intelligence. I am constantly aspiring to learn more from novel projects. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I love to read non-fictional books. One of my favorite categories biographies of famous scientists. I am an ardent fan of biographical movies and documentaries. During my off time, I love to travel in areas unexplored and 'untouched' by civilization. Also, I love to solve Sudoku and to play Chess
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
