<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/neuropoly/axondeepseg" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/neuropoly/axondeepseg" target="_blank">AxonDeepSeg</a>
        </div>
        <p>AxonDeepSeg is a segmentation software for microscopy data of nerve fibers. It is based on a convolutional neural network (UNET).</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/vs74/Breast-Cancer-Detection-using-Artificial-Neural-Networks" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>

        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/vs74/Breast-Cancer-Detection-using-Artificial-Neural-Networks" target="_blank">GUI for Microcalcification Detection in Breast Tissue</a>
        </div>
        <p>Matlab based GUI to predict breast cancer using Deep Learning</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/vs74/Music-Genre-Classificattion-Using-Deep-Learning-" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/vs74/Music-Genre-Classificattion-Using-Deep-Learning-" target="_blank">Music Genre Classifier</a>
        </div>
        <p>Open source custom music genre classification system with our own genres and data. The model takes as an input the spectogram of music frames and analyzes the image using a Convolutional Neural Network (CNN) plus a Recurrent Neural Network (RNN).</p>
      </figcaption>
    </div>
  </div>
</section>
